<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.base.Listener"></listener>

</listeners>
  <test thread-count="1" name="Test">

    <classes>
      <class name="test.com.test.testclass"/>
      <class name="test.com.test.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
